/* 757575 text body */
/* 2196F3 color akcent */
/* 212121 head color */
/* FFFFFF bgd & title text color*/
:root{
    --akcent-color:#2196F3;
    --title-color:#212121;
    --descr-color:#757575 ;
    --bgd-color:#FFFFFF;
    --logo-color:#000000;
    --footer-color:#2F303A;
    --footer-contact-color:rgba(255, 255, 255, 0.6);
}

body{
    font-family: 'Roboto' sans-serif;
    font-size: 16px;
    color: var(--descr-color);
   
    

}

/* heder */

.list{
    list-style: none;
    padding-left: 0;
}

.top-line{
    background-color: var(--bgd-color);
    width: 1200px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
 
.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color);
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
}

.logo-stile{
    color: var(--akcent-color);
}

.navigation :hover,
.navigation :focus {
    color: var(--akcent-color);
}

.item{
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-color);
    margin-top: 32px;
    margin-bottom: 32px;
    

}

.navigation {
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 93px;
    padding: 0;
    
}

.navigation :not(:last-child) {
    margin-right: 50px;
    
}

.curent {
    color: var(--akcent-color);
}

.contact{
    display: flex;
    margin-left: auto;
    padding: 0;
    
}

.contact :hover,
.contact :focus{
    color: var(--akcent-color);
}

.link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--descr-color);
}

.contact li:not(:last-child){
    margin-right: 50px;
}
/* ideas */

.ideas{
    width: 1200px;
    background-color: var(--footer-color);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 94px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.ideas-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--bgd-color);

    margin-top: 0;
    margin-bottom: 30px;
}

.button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--bgd-color);
    background-color: var(--akcent-color);
    border:none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    align-items: center;
    text-align: center;
    padding: 10px 32px;
}

/* speciality */

.speciality{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    flex-direction: row;

}

.container{
    width: 1170px;
    display: flex;
    justify-content: space-between;
    
}

.speciality-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    box-sizing: border-box;
    width: 270px;
    
    
}

.speciality-descr{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    width: 270px;
    
    
}

.block{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 1170px;
    
}

.block li:not(:last-child){
    margin-right: 30px;
} 

/* practice */

.practice{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    flex-direction: row;
    margin-top: 94px;

}

.practice-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-top: 0;
    margin-bottom: 50px;
}

.container{
    display:flex;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 0;
}

.box{
    display: block;
    width: 370px;
    margin-top: 0;
    margin-bottom: 0;
}

/* team */

.team{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    flex-direction: row;
    margin-top: 94px;
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height:1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
}


